@media screen and (max-width: 1200px) {
  header nav {
    padding: 20px;
  }
  #explore {
    margin: 2rem;
  }
  #popular {
    margin: 6rem 2rem;
  }
  #destination,
  #discount,
  #whyChoosen,
  #parfectPlace,
  #contact {
    margin: 7rem 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .logo img {
    width: 5rem;
  }
  .logo h3 {
    color: var(--black);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 800;
    margin-left: 10px;
  }

  #explore .exploreWrapper form {
    flex-direction: column;
    padding: 4rem 0;
  }
  #explore .exploreWrapper form .form-group {
    width: 100%;
  }
  #explore .exploreWrapper .form-group input[type="text"],
  select,
  button.hero_btn {
    width: 100%;
  }

  #popular .img img {
    width: 100%;
  }
  .discount_details {
    width: 80%;
  }
  #popular .popularWrapper,
  #parfectPlace .parfectPlaceWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  header nav menu #bars {
    display: inline-block;
  }
  .Small_desc {
    width: 100%;
  }
  header nav {
    position: relative;
  }
  .main_menu {
    position: absolute;
    top: 6.2rem;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: start;
    padding: 20px 15px;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    z-index: 999;
  }
  .main_menu.active {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
  }
  header nav .main_menu li {
    width: 100%;
    background: wheat;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    background: oldlace;
  }
  header nav .main_menu li a {
    text-align: left;
    display: block;
  }
  #explore .exploreWrapper h1 {
    font-size: 4.4rem;
  }
  /* popular part  */
  #popular .popularWrapper {
    flex-direction: column;
  }
  #popular .img,
  #popular .content {
    width: 100%;
  }
  #destination .des_top_row,
  #destination .des_middle_row,
  #destination .des_bottom_row {
    grid-template-columns: 1fr;
  }
  .discount_details {
    width: 100%;
  }
  .discount_details .info {
    flex-wrap: wrap;
  }
  .rowOne .inner_box,
  .rowTwo .inner_box {
    width: 100%;
  }
  #whyChoosen .rowOne {
    flex-direction: column;
  }
  #contact .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  #destination .heading {
    font-size: 2.5rem;
  }
  #explore .exploreWrapper h1 {
    font-size: 3.5rem;
  }
  #explore .exploreWrapper p {
    width: 90%;
    margin: 2rem auto;
  }
  #explore .exploreWrapper {
    padding: 5rem 3rem;
  }
  #explore .exploreWrapper .find_place {
    width: 90%;
  }
  .discount_middle {
    padding: 5rem 3rem;
  }
}
